@import '../mixins.scss';

:host {
  --base-font-size: var(--ptb-plainbtn-base-font-size, 1rem);
  --base-font-weight: var(--ptb-plainbtn-base-font-weight, 400);
  --text-color: var(--ptb-plainbtn-text-color, rgba(255, 255, 255, .9));

  --background-color: var(--ptb-plainbtn-background-color, rgba(0, 0, 0, 0.8));

  --border-width: var(--ptb-plainbtn-border-width, 1px);
  --border-color: var(--ptb-plainbtn-border-color, rgba(0, 0, 0, 1));
  --border-radius: var(--ptb-plainbtn-border-radius, 5px);

  --pressed-color: var(--ptb-plainbtn-pressed-color, rgba(0, 0, 0, 1));
  --hover-color: var(--ptb-plainbtn-hover-color, rgba(0, 0, 0, .9));
  --disabled-color: var(--ptb-plainbtn-disabled-color, rgba(0, 0, 0, .6));


  padding: var(--ptb-plainbtn-padding,
      calc(var(--base-font-size) * .35) calc(var(--base-font-size) * 1.9) calc(var(--base-font-size) * .35) calc(var(--base-font-size) * 1.9)
  );

  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);

  background-color: var(--background-color);
  color: var(--text-color);

  box-sizing: border-box;

  &:not(:first-child) {
    border-left-width: var(--border-left-width, var(--border-width))
  }

  @include alignContent(center, center);

  @include relativeFontSizeAndWeight(1, 1);

  user-select: none;

  &:hover,
  &:focus {
    background-color: var(--hover-color);
  }

  &:active {
    background-color: var(--pressed-color);
  }

  &.disabled {
    background-color: var(--disabled-color);
  }
}
