@mixin constantSize($size) {
  flex: 0 0 $size;
}

@mixin alignContent($verticalAlignment, $horizontalAlignment) {
  display: flex;
  align-items: $verticalAlignment;
  justify-content: $horizontalAlignment;
}

@mixin relativeFontSizeAndWeight($sizeScale, $weightScale) {
  font-size: calc(var(--base-font-size) * #{$sizeScale});
  font-weight: calc(var(--base-font-weight) * #{$weightScale});
}
