<ng-container *ngIf="shouldDisplayTransferForm">
  <ng-container *ngTemplateOutlet="xfrForm; context: { $implicit: false }"></ng-container>
</ng-container>

<ptb-transactions-list
  title="Recent Transactions" i18n-title="transactions list|title@@txnsListTitle"
  searchBoxPlaceholderText="Search by typing..." i18n-searchBoxPlaceholderText="transactions list|search box placeholder text@@txnsListSearchBoxPlaceholderText"
  sortButtonGroupTitle="Sort by" i18n-sortButtonGroupTitle="transactions list|sort button group title@@txnsListSortButtonGroupTitle"
  dateButtonText="DATE" i18n-dateButtonText="transactions list|date button text@@txnsListDateButtonText"
  beneficiaryButtonText="BENEFICIARY" i18n-beneficiaryButtonText="transactions list|beneficiary button text@@txnsListBeneficiaryButtonText"
  amountButtonText="AMOUNT" i18n-amountButtonText="transactions list|amount button text@@txnsListAmount  ButtonText"
  (requestTransaction)="onTransactionRequested($event)"
  [transactions]="transactions$ | async">
</ptb-transactions-list>

<div *ngIf="shouldDisplayTransferFormOverlay" class="transfer-form-overlay">
  <ng-container *ngTemplateOutlet="xfrForm; context: { $implicit: true }"></ng-container>
</div>

<div *ngIf="shouldDisplayConfirmationOverlay" class="confirmation-overlay">
  <ptb-transfer-form class="confirmation-form"
    title="Confirm Transfer" i18n-title="confirmation form|title@@confirmationFormTitle"
    originAccountLabel="FROM ACCOUNT" i18n-originAccountLabel="confirmation form|originAccountLabel@@confirmationFormOriginAccountLabel"
    beneficiaryLabel="TO ACCOUNT" i18n-beneficiaryLabel="confirmation form|beneficiaryLabel@@confirmationFormBeneficiaryLabel"
    amountLabel="AMOUNT" i18n-amountLabel="confirmation form|amountLabel@@confirmationFormAmountLabel"
    submitButtonText="TRANSFER" i18n-submitButtonText="confirmation form|submitButtonText@@confirmationFormSubmitButtonText"
    [originAccountName]="'Free Checking(4692)'"
    [originAccountCurrencyCode]="'USD'"
    [originAccountBalance]="(originAccountBalance$ | async)!"
    (submitted)="onConfirmationSubmit($event)"
    (cancelled)="onConfirmationCancel()"
    [cancelButtonVisible]="true"
    [readonly]="true"
    [transferInfo]="submittedTransferInfo"></ptb-transfer-form>
</div>

<ng-template #xfrForm let-cancelButtonVisible>
  <ptb-transfer-form #transferForm class="transfer-form"
    title="Make a Transfer" i18n-title="transfer form|title@@xfrFormTitle"
    originAccountLabel="FROM ACCOUNT" i18n-originAccountLabel="transfer form|originAccountLabel@@xfrFormOriginAccountLabel"
    beneficiaryLabel="TO ACCOUNT" i18n-beneficiaryLabel="transfer form|beneficiaryLabel@@xfrFormBeneficiaryLabel"
    amountLabel="AMOUNT" i18n-amountLabel="transfer form|amountLabel@@xfrFormAmountLabel"
    submitButtonText="SUBMIT" i18n-submitButtonText="transfer form|submitButtonText@@xfrFormSubmitButtonText"
    [originAccountName]="'Free Checking(4692)'"
    [originAccountCurrencyCode]="'USD'"
    [originAccountBalance]="(originAccountBalance$ | async)!"
    (submitted)="onTransferFormSubmit($event)"
    (cancelled)="onTransferFormCancel()"
    [cancelButtonVisible]="cancelButtonVisible"></ptb-transfer-form>
</ng-template>

