:host {
  position: relative;
  background-image: url("../../../../assets/background.jpg");
  background-clip: border-box;
  background-size: cover;

  padding: calc(var(--base-font-size) * 4.5) calc(var(--base-font-size) * 6.5);

  display: flex;
  align-items: flex-start;

  ptb-transactions-list,
  ptb-transfer-form {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  ptb-transactions-list {
    height: 100%;
    flex: 1 1 auto;
  }

  &>ptb-transfer-form {
    margin-right: 2rem;
  }

  ptb-transfer-form {
    flex: 0 0 20rem;

    --subbtn-background-color: rgba(238, 112, 51, .8);
    --subbtn-border-width: 0;
    --subbtn-border-color: rgba(238, 112, 51, 1);
    --subbtn-border-radius: 5px;

    --subbtn-pressed-color: rgba(238, 112, 51, 1);
    --subbtn-hover-color: rgba(238, 112, 51, .9);
    --subbtn-disabled-color: rgba(238, 112, 51, .6);

    --subbtn-text-color: rgba(255, 255, 255, .9);

    --cancelbtn-background-color: rgba(248, 41, 18, .1);
    --cancelbtn-border-width: 1px;
    --cancelbtn-border-color: rgba(248, 41, 18, 1);
    --cancelbtn-border-radius: 5px;

    --cancelbtn-pressed-color: rgba(248, 41, 18, .3);
    --cancelbtn-hover-color: rgba(248, 41, 18, .2);

    --cancelbtn-text-color: rgba(248, 41, 18, 1);
  }

  .transfer-form-overlay,
  .confirmation-overlay {
    position: absolute;
    z-index: 99;
    background-color: rgba(255, 255, 255, .8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    .confirmation-form, .transfer-form {
      flex: 0 1 30rem;
    }
  }

  @media only screen and (max-width: 1280px) {
    padding: calc(var(--base-font-size) * 2);
  }

  @media only screen and (max-width: 1110px) {
    padding: calc(var(--base-font-size) * .5);
  }

  @media only screen and (max-width: var(--tnxform-visibility-threshold, 1070px)) {
    padding: calc(var(--base-font-size) * 2);

    &>ptb-transfer-form {
      display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 0;
  }

  @media only screen and (min-width: 1070px) {
    .transfer-form-overlay {
      display: none;
    }
  }
}
