:host {
  --base-font-size: var(--ptb-textbox-base-font-size, 1rem);
  --base-font-weight: var(--ptb-textbox-base-font-weight, 400);
  --font-family: var(--ptb-textbox-font-family, "Kanit", sans-serif);

  --text-color: var(--ptb-textbox-text-color, rgba(0, 0, 0, 0.65));

  --border-width: var(--ptb-textbox-border-width, 1px);
  --border-color: var(--ptb-textbox-border-color, rgba(0, 0, 0, 0.2));

  --cbtn-pressed-color: var(--ptb-textbox-cbtn-pressed-color, rgba(0, 0, 0, 0.35));
  --cbtn-hover-color: var(--ptb-textbox-cbtn-hover-color, rgba(0, 0, 0, 0.1));

  border-bottom: var(--border-width) solid var(--border-color);

  display: flex;
  align-items: center;
  height: calc(var(--base-font-size) * 2.3);

  color: var(--text-color);
}

.prefix {
  font-size: calc(var(--base-font-size) * 1.1);
  font-weight: calc(var(--base-font-weight) * .75);
  flex: 0 0 auto;
  margin-right: calc(var(--base-font-size) * .5);
}

input {
  border: none;
  font-size: calc(var(--base-font-size) * 1.1);
  font-weight: calc(var(--base-font-weight) * .75);
  flex: 1 1 auto;
  font-family: var(--font-family);
  color: var(--text-color);
}

.clear-button {
  user-select: none;
  margin: calc(var(--base-font-size) * .1);
  flex: 0 0 calc(var(--base-font-size) * 1.6);
  border: var(--border-width) solid var(--border-color);
  border-radius: calc(var(--base-font-size) * .8);

  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    content: "\2716";
    font-size: calc(var(--base-font-size) * 1.1);
    color: var(--text-color);
  }

  &:hover, &:focus {
    background-color: var(--cbtn-hover-color);
  }

  &:active {
    background-color: var(--cbtn-pressed-color);
  }
}
