<div class="prefix" *ngIf="!!prefix">{{ prefix }}</div>
<input #input type="text" (blur)="onBlur()" (keydown)="onKeydown($event)" (input)="onInput($event)" placeholder="{{placeholder}}"/>
<div tabindex="0" *ngIf="clearButtonVisible" class="clear-button"
  (click)="onClearButtonClick()"
  (keyup.enter)="onClearButtonClick()"
  (keyup.space)="onClearButtonClick()"
  >
</div>
