<img class="logo" src="../assets/logo.jpg"/>
<ptb-plain-button (clickk)="onHamburgerButtonClick()" class="hamburger-menu-button">
  &#8801;
</ptb-plain-button>

<div *ngIf="menuVisible" class="hamburger-menu-overlay">
  <ptb-plain-button (clickk)="onMakeTransferButtonClick()">
    Make a Transfer
  </ptb-plain-button>
</div>
