:host {
  border-bottom: 2px solid #EE7033;
  position: relative;
  box-sizing: border-box;

  display: flex;
  align-items: center;

  img.logo {
    height: calc(var(--base-font-size) * 2.5);
    margin-left: calc(var(--base-font-size) * 6.5);

    @media only screen and (max-width: 640px) {
      height: calc(var(--base-font-size) * 2.2);
      margin-left: calc(var(--base-font-size) * 1);
    }
  }

  .hamburger-menu-button {
    position: absolute;
    height: 100%;
    right: 0;

    --ptb-plainbtn-base-font-size: 5rem;
    --ptb-plainbtn-base-font-weight: 300;
    --ptb-plainbtn-text-color: rgba(238, 112, 51, .8);

    --ptb-plainbtn-padding: .5rem 1rem;

    --ptb-plainbtn-background-color: rgba(238, 112, 51, 0.1);

    --ptb-plainbtn-pressed-color: rgba(238, 112, 51, .3);
    --ptb-plainbtn-hover-color: rgba(238, 112, 51, .2);

    --ptb-plainbtn-border-width: 0;
    --ptb-plainbtn-border-radius: 0;
  }

  .hamburger-menu-overlay {
    width: 20rem;

    position: absolute;
    z-index: 99;
    background-color: rgba(255, 255, 255, .8);
    top: 100%;
    right: 0;
    padding: 2rem;

    --ptb-plainbtn-base-font-size: 1.5rem;
    --ptb-plainbtn-background-color: rgba(238, 112, 51, .8);
    --ptb-plainbtn-border-width: 0;
    --ptb-plainbtn-border-color: rgba(238, 112, 51, 1);
    --ptb-plainbtn-border-radius: 5px;

    --ptb-plainbtn-pressed-color: rgba(238, 112, 51, 1);
    --ptb-plainbtn-hover-color: rgba(238, 112, 51, .9);
    --ptb-plainbtn-disabled-color: rgba(238, 112, 51, .6);

    --ptb-plainbtn-text-color: rgba(255, 255, 255, .9);
  }

  @media only screen and (min-width: 1070px) {
    .hamburger-menu-button {
      display: none;
    }

    .hamburger-menu-overlay {
      display: none;
    }
  }
}
