<span *ngIf="{ order: (sortOrder$ | async) } as sort"
  [ngClass]="{
    'descending': sort.order === 'desc',
    'ascending': sort.order === 'asc',
    'no-sort': !sort.order
  }"
>
  <ng-content></ng-content>
</span>
