@import '../mixins.scss';

:host {
  --base-font-size: var(--ptb-sortbybtn-base-font-size, 1rem);
  --base-font-weight: var(--ptb-sortbybtn-base-font-weight, 400);

  --border-width: var(--ptb-sortbybtn-border-width, 1px);
  --border-color: var(--ptb-sortbybtn-border-color, rgba(0, 0, 0, 0.2));

  --pressed-color: var(--ptb-sortbybtn-pressed-color, rgba(0, 0, 0, 0.35));
  --hover-color: var(--ptb-sortbybtn-hover-color, rgba(0, 0, 0, 0.1));
  --active-color: var(--ptb-sortbybtn-active-color, rgba(0, 0, 0, 0.2));


  position: relative;
  padding:
    calc(var(--base-font-size) * .35) calc(var(--base-font-size) * 1.9) calc(var(--base-font-size) * .35) calc(var(--base-font-size) * 1);

  border: var(--border-width) solid var(--border-color);

  &:not(:first-child) {
    border-left-width: var(--border-left-width, var(--border-width))
  }


  @include relativeFontSizeAndWeight(1, 1);

  user-select: none;

  &:hover {
    background-color: var(--hover-color);
  }

  &:active {
    background-color: var(--pressed-color);
  }

  &.active:not(:active):not(:hover) {
    background-color: var(--active-color);
  }
}

span {
  &:not(.no-sort):after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: calc(var(--base-font-size) * .3);
  }

  &.descending:after {
    border-left: calc(var(--base-font-size) * .4) solid transparent;
    border-right: calc(var(--base-font-size) * .4) solid transparent;
    border-top: calc(var(--base-font-size) * .4) solid black;
  }

  &.ascending:after {
    border-left: calc(var(--base-font-size) * .4) solid transparent;
    border-right: calc(var(--base-font-size) * .4) solid transparent;
    border-bottom: calc(var(--base-font-size) * .4) solid black;
  }
}
