@import '../mixins.scss';

:host {
  --base-font-size: var(--ptb-txnlist-base-font-size, 1rem);
  --base-font-weight: var(--ptb-txnlist-base-font-weight, 400);

  --title-bgcolor: var(--ptb-txnlist-title-bgcolor, #0C8397);

  --title-icon-blend: var(--ptb-txnlist-title-icon-blend, .65);

  color: var(--ptb-txnlist-text-color, rgba(0, 0, 0, .7));

  display: flex;
  flex-direction: column;
}

.title {
  flex: 0 0 calc(var(--base-font-size) * 3.7);

  margin-bottom: var(--base-font-size);

  background-color: var(--title-bgcolor);

  color: rgba(255, 255, 255, 0.95);
  @include alignContent(center, center);
  @include relativeFontSizeAndWeight(1.3, .75);

  .icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: calc(var(--base-font-size) * 1.3);
    padding-right: calc(var(--base-font-size) * 1.3);
    opacity: var(--title-icon-blend);

    img {
      height: calc(var(--base-font-size) * 1.3);
    }
  }

  .title-text {
    flex: 1 1 auto;
    text-align: center;
  }
}

.controls-container {
  margin: calc(var(--base-font-size) * 1.3);
  margin-top: calc(var(--base-font-size) * .5);
  margin-bottom: 0;
  flex: 0 0 auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  ptb-text-box {
    flex: 1 1 auto;
  }

  .sort-button-group-container {
    margin-top: calc(var(--base-font-size) * 1);

    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;

    .sort-button-group-title {
      padding-left: calc(var(--base-font-size) * 1.5);
      padding-right: calc(var(--base-font-size) * 1);
      font-size: calc(var(--base-font-size) * .75);
      font-weight: calc(var(--base-font-weight) * 1.5);
      display: flex;
      align-items: center;

      @media only screen and (max-width: 480px) {
        padding-left: 0;
      }
    }

    ptb-sort-by-button-group {
      flex: 0 0 auto;
    }
  }
}

.transactions-container {
  margin: calc(var(--base-font-size) * 1.3);
  flex: 1 1 auto;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  :not(:first-child) {
    --border-top-width: 0;
  }
}
