:host {
  --base-font-size: 1rem;
  --base-font-weight: 400;

  height: 100%;
  display: flex;
  flex-direction: column;
}

app-header.title {
  flex: 0 0 calc(var(--base-font-size) * 5.5);
}

app-transactions.content {
  height: calc(100% - calc(var(--base-font-size) * 5.5));
  flex: 1 1 auto;
  box-sizing: border-box;

  --txnform-visibility-threshold: 1070px;
}
