<app-header (makeTransferButtonClicked)="onMakeTransferButtonClick()" class="title"></app-header>
<app-transactions class="content"
  [shouldDisplayTransferFormOverlay]="shouldDisplayTransferFormOverlay"
  [shouldDisplayConfirmationOverlay]="shouldDisplayConfirmationOverlay"
  [transferFormVisibilityThreshold]="1070"
  (transferFormSubmitted)="onTransferFormSubmit($event)"
  (transferFormCancelled)="onTransferFormCancel()"
  (transferConfirmed)="onTransferConfirmed($event)"
  (transferCancelled)="onTransferCancelled()"
  ></app-transactions>
