@import '../mixins.scss';

:host {
  --base-font-size: var(--ptb-xfrform-base-font-size, 1rem);
  --base-font-weight: var(--ptb-xfrform-base-font-weight, 400);

  --title-bgcolor: var(--ptb-xfrform-title-bgcolor, #0C8397);

  --title-icon-blend: var(--ptb-xfrform-title-icon-blend, .7);

  color: var(--ptb-xfrform-text-color, rgba(0, 0, 0, .8));

  display: flex;
  flex-direction: column;
}

.title {
  flex: 0 0 calc(var(--base-font-size) * 2.55);

  margin-bottom: calc(var(--base-font-size) * .8);

  background-color: var(--title-bgcolor);

  color: rgba(255, 255, 255, 0.95);
  @include alignContent(center, center);
  @include relativeFontSizeAndWeight(1.1, .75);

  position: relative;

  .icon {
    position: absolute;
    height: 100%;
    left: 0;

    display: flex;
    align-items: center;
    align-content: center;
    padding-left: calc(var(--base-font-size) * 1.3);
    padding-right: calc(var(--base-font-size) * 1.3);
    opacity: var(--title-icon-blend);

    img {
      height: calc(var(--base-font-size) * 1.1);
    }
  }

  .title-text {
    flex: 1 1 auto;
    text-align: center;
  }
}

.controls-container {
  margin: calc(var(--base-font-size) * 1.3);
  flex: 1 1 auto;

  display: flex;
  flex-direction: column;

  label {
    @include relativeFontSizeAndWeight(.8, 1.25);

    &:not(:first-child) {
      margin-top: calc(var(--base-font-size) * 1.55);
    }
  }

  ptb-text-box {
    flex: 1 1 auto;
    --border-width: 2px;
    --ptb-textbox-base-font-size: .9rem;
    --ptb-textbox-base-font-weight: 300;
  }

  .buttons-container {
    flex: 0 0 auto;

    display: flex;
    flex-direction: row;

    ptb-plain-button {

      flex: 0 0 calc(var(--base-font-size) * 10);
      margin-top: calc(var(--base-font-size) * 3.1);
      margin-bottom: calc(var(--base-font-size) * .7);

      &.cancel {
        --ptb-plainbtn-background-color: var(--cancelbtn-background-color, rgba(0, 0, 0, .8));

        --ptb-plainbtn-text-color: var(--cancelbtn-text-color, rgba(255, 255, 255, .9));

        --ptb-plainbtn-border-width: var(--cancelbtn-border-width, 1px);
        --ptb-plainbtn-border-color: var(--cancelbtn-border-color, rgba(0, 0, 0, 1));
        --ptb-plainbtn-border-radius: var(--cancelbtn-border-radius, 5px);

        --ptb-plainbtn-pressed-color: var(--cancelbtn-pressed-color, rgba(0, 0, 0, 1));
        --ptb-plainbtn-hover-color: var(--cancelbtn-hover-color, rgba(0, 0, 0, .9));
        --ptb-plainbtn-disabled-color: var(--cancelbtn-disabled-color, rgba(0, 0, 0, .6));
      }

      &.submit {
        margin-left: auto;

        --ptb-plainbtn-background-color: var(--subbtn-background-color, rgba(0, 0, 0, .8));

        --ptb-plainbtn-text-color: var(--subbtn-text-color, rgba(255, 255, 255, .9));

        --ptb-plainbtn-border-width: var(--subbtn-border-width, 1px);
        --ptb-plainbtn-border-color: var(--subbtn-border-color, rgba(0, 0, 0, 1));
        --ptb-plainbtn-border-radius: var(--subbtn-border-radius, 5px);

        --ptb-plainbtn-pressed-color: var(--subbtn-pressed-color, rgba(0, 0, 0, 1));
        --ptb-plainbtn-hover-color: var(--subbtn-hover-color, rgba(0, 0, 0, .9));
        --ptb-plainbtn-disabled-color: var(--subbtn-disabled-color, rgba(0, 0, 0, .6));
      }
    }
  }
}
