<div class="colored-tab"></div>
<div class="date-display">{{ date }}</div>
<div class="image-display">
  <img *ngIf="imageSource" [src]="imageSource"/>
</div>
<div class="beneficiary-and-type-container">
  <div class="beneficiary-display">
    {{ beneficiary }}
  </div>
  <div class="txn-type-display"> {{ transactionType }} </div>
</div>
<div class="amount-display"> {{ amount }} </div>
