@import '../mixins.scss';

:host {
  --base-font-size: var(--ptb-txndpy-base-font-size, 1rem);
  --base-font-weight: var(--ptb-txndpy-base-font-weight, 400);

  --tab-width: var(--ptb-txndpy-colored-tab-width, 10px);
  --date-cell-width: var(--ptb-txndpy-date-cell-width, calc(var(--base-font-size) * 5.85));
  --image-cell-width: var(--ptb-txndpy-image-cell-width, calc(var(--base-font-size) * 5.85));
  --beneficiary-and-type-container-width: var(--ptb-txndpy-beneficiary-and-type-container-width, 100%);
  --amount-cell-width: var(--ptb-txndpy-amount-cell-width, calc(var(--base-font-size) * 10.4));

  --border-width: var(--ptb-txndpy-border-width, 2px);
  --border-color: var(--ptb-txndpy-border-color, rgba(0, 0, 0, 0.2));

  display: flex;
  flex-direction: row;
  align-items: stretch;

  border: var(--border-width) solid var(--border-color);
  border-top: var(--border-top-width, var(--border-width)) solid var(--border-color);

  box-sizing: border-box;
}

.colored-tab {
  @include constantSize(var(--tab-width));

  background-color: var(--tab-color, beige);
  margin-top: calc(var(--border-width) * -1);
  margin-left: calc(var(--border-width) * -1);
}

.date-display {
  @include constantSize(var(--date-cell-width));
  @include alignContent(center, center);

  @include relativeFontSizeAndWeight(.98, .75);
}

.image-display {
  flex: 0 1 var(--image-cell-width);
  @include alignContent(center, center);

  padding-top: calc(var(--base-font-size) * .65);
  padding-bottom: calc(var(--base-font-size) * .65);

  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.beneficiary-and-type-container {
  padding-left: calc(var(--base-font-size) * 1.3);
  padding-right: calc(var(--base-font-size) * 1);
  padding-top: calc(var(--base-font-size) * .8);
  padding-bottom: calc(var(--base-font-size) * .8);

  flex: 1 1 var(--beneficiary-and-type-container-width);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;

  & .beneficiary-display {
    flex: 1 1 50%;
    @include alignContent(flex-end, flex-start);

    @include relativeFontSizeAndWeight(1.1, 1.25);

    line-height: calc(var(--base-font-size) * 1.2);
  }

  & .txn-type-display {
    flex: 1 1 50%;
    @include alignContent(flex-start, flex-start);

    @include relativeFontSizeAndWeight(.98, 1);

    line-height: calc(var(--base-font-size) * 1.3);
  }
}

.amount-display {
  flex: 0 1 var(--amount-cell-width);
  padding-right: calc(var(--base-font-size) * 1.4);
  white-space: nowrap;

  @include alignContent(center, flex-end);
  @include relativeFontSizeAndWeight(1.3, 1.50);
}
